@use '../abstract/colors';

// FONTS
// font-family

$main-sans-serif: Lato, Helvetica, sans-serif;
$main-monospace: 'Roboto Mono', Inconsolata, monospace;


// BORDERS

$default-border: 4px solid colors.$main-white-transparent;


// BOX SHADOW

$box-shadow-pink: 16px 16px colors.$main-pink-color;
$box-shadow-yellow: 16px 16px colors.$main-yellow-color;
$box-shadow-blue: 16px 16px colors.$main-blue-color;
