// JUMPING BUTTON ANIMATION.

@keyframes moving-button {
  0%    {transform: translate(-50%, -1.58rem); }
  94%   {transform: translate(-50%, -1.58rem); }
  97%   {transform: translate(-50%, -1.08px); }
  100%  {transform: translate(-50%, -1.58rem); } 
}
