@keyframes moving-button {
  0%    {transform: translate(-50%, -38px); }
  94%   {transform: translate(-50%, -38px); }
  97%   {transform: translate(-50%, -26px); }
  100%  {transform: translate(-50%, -38px); } 
}
